body{
    margin: 0%;
    background-color: grey;
}
video{
    position: fixed;
}
div{
    position: absolute;
    top: 25%;
    left: 35%;
    min-width: 25%;
    border: 1px solid black;
    padding-left: 40px;
}
input{
    border: 0px;
    width: 75%;
    min-width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}
input:focus{
    outline: none;
    color: white;
    background-color: steelblue;
}
button{
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    color: white;
    border: 0px;
    background-color: purple;
}